/* @import url("https://fonts.googleapis.com/css2?family=Smythe&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");
@import url("https://fonts.googleapis.com/css?family=Fira+Mono:400");

* {
    font-family: "Special Elite", cursive;
}

body {
    bottom: 0;
    height: 100vh;
    width: 100vw;
    margin: 0;
    background: #131313;
    color: #fff;
    display: flex;
    justify-content: center;
}

/* =========================================================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background: #060608;
    --color: #fafafa;
}

/* html,
body {
    width: 100%;
    height: 100%;
    font-family: Arial;
} */

main {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--background);
}

.container {
    width: 100%;
    color: var(--color);
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.right {
    text-align: right;
    width: 100%;
}

.stack {
    width: 100%;
    align-self: center;
    display: grid;
    grid-template-columns: 1fr;
}

.stack span {
    font-weight: bold;
    grid-row-start: 1;
    grid-column-start: 1;
    font-size: 4rem;
    --stack-height: calc(100% / var(--stacks) - 1px);
    --inverse-index: calc(calc(var(--stacks) - 1) - var(--index));
    --clip-top: calc(var(--stack-height) * var(--index));
    --clip-bottom: calc(var(--stack-height) * var(--inverse-index));
    clip-path: inset(var(--clip-top) 0 var(--clip-bottom) 0);
    animation: stack 340ms cubic-bezier(0.46, 0.29, 0, 1.24) 1 backwards
            calc(var(--index) * 120ms),
        glitch 2s ease infinite 2s alternate-reverse;
}

.stack span .zero,
.stack span .two {
    --glitch-translate: 8px;
}
.stack span .one {
    --glitch-translate: -8px;
}

@keyframes stack {
    0% {
        opacity: 0;
        transform: translateX(-50%);
        text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
    }
    60% {
        opacity: 0.5;
        transform: translateX(50%);
    }
    80% {
        transform: none;
        opacity: 1;
        text-shadow: 2px -3px 0 red, -2px 3px 0 blue;
    }
    100% {
        text-shadow: none;
    }
}

@keyframes glitch {
    0% {
        text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
        transform: translate(var(--glitch-translate));
    }
    2% {
        text-shadow: 2px -3px 0 red, -2px 3px 0 blue;
    }
    4%,
    100% {
        text-shadow: none;
        transform: none;
    }
}

/* ============================================================ */

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: rgb(216, 161, 59);
}

h1 {
    font-family: "Smythe", cursive;
    text-transform: lowercase;
    color: brown;
    text-shadow: #fc0 3px 3px 0;
    font-size: 8rem;
    text-align: center;
}

.applogo,
header .profilepic {
    height: 100px;
    cursor: pointer;
    margin: 20px;
}

header .profilepic {
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
    border: rgb(255, 123, 0) inset 5px;
    margin-right: 50px;
}

img:hover {
    /* filter: grayscale(); */
    filter: hue-rotate(171deg) contrast(200%);

    /* transform: skew(34deg, 13deg); */
    /* transform: matrix(1, 2, 3, 4, 5, 6); */
}

.profile-container {
    display: flex;
    margin: 30px;
    justify-content: space-around;
}

.profileimage {
    width: 100%;
    cursor: pointer;
}

.profileimage img {
    width: 100%;
}

.bio-text,
.bio-edit,
.bio-edit textarea {
    width: 300px;
    height: 200px;
}

.applogo {
    margin-left: 40px;
}

.find-people {
    margin: 30px;
}

.users-result-container {
    display: flex;
    justify-content: space-between;
}

.popup-uploader-bg {
    overflow-y: hidden;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(
        70deg,
        rgba(255, 157, 0, 0.6),
        rgba(0, 255, 34, 0.6)
    );
    height: 100%;
    justify-content: center;
    align-items: center;
}

.popup-uploader {
    z-index: 1;
    background: linear-gradient(
        70deg,
        rgb(166, 211, 61) 10%,
        rgb(199, 123, 72) 50%,
        rgb(118, 96, 243)
    );
    border: rgb(255, 123, 0) inset 10px;
    border-radius: 5px;
    width: 40%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
}
